.navbar {
    opacity: 0.9;
    background-color: #ffffff;

    letter-spacing: 4px;
    font-size: 11px !important;
}

.navbar, .navbar li a {
    color: #636363 !important;
}

.navbar-nav li a.active {
    color: #000000 !important;
    background-color: #eeeeee;
}

.navbar-nav li a:hover {
    color: #000000 !important;
}

.navbar-nav li a.active:hover {
    background-color: #eeeeee;
}


div#container{
    position: relative;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}

.aside {
    background-color: rgba(255,0,0,0.3);
    border-color: #B22222 !important;
    border-radius: 3%;
    border-style: solid;
    margin-bottom: 1%;
}

.aside label {
  font-size: 112%;
}

.main p {
    text-decoration: solid;
}

.main {
    background-color: white;
}

header {
    margin-top: 5%;
}

header img {
    display: block;
    margin: 0 auto;
}

div.main {
    font-size: 110%;
}


div.datiesame {
    text-align: center; !important;
}

div.datiesame label.explanation {
    margin-right: 3%;
}

div#aperturaiscrizioni label {
    font-size: 130%;
}
div#aperturaiscrizioni label.tofill {
    color: inherit;
    text-decoration: underline;
}

footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    text-align: center;
    padding: 2%;
}
