.navbar {
    opacity: 0.9;
    background-color: #ffffff;

    letter-spacing: 4px;
    font-size: 11px !important;
}

.navbar, .navbar li a {
    color: #636363 !important;
}

.navbar-nav li a.active {
    color: #000000 !important;
    background-color: #eeeeee;
}

.navbar-nav li a:hover {
    color: #000000 !important;
}

.navbar-nav li a.active:hover {
    background-color: #eeeeee;
}

header {
    margin-top: 5%;
}

header img {
    display: block;
    margin: 0 auto;
}

/* icone */

.row {
    padding-left: 0px;
    padding-right: 10px;
}

.box {
    padding: 0;
}

.inner-box {
    height: 110px;

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

    margin-left: 10px;
    margin-bottom: 10px;

    border-radius: 2px;
    border: 1px solid #eeeeee;
}

.inner-box p {
    font-size: 13px;
    text-align: center;
}

.btn-primary {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

/* info */

.aside {
    overflow: hidden;

    padding-top: 10px;
    margin-bottom: 10px;

    border: 1px solid #eeeeee;
    background-color: #f9f9f9;
}

.photo {
    float: left;

    margin-right: 10px;
}

.logout-button {
    text-align: center;

    padding-top: 5px;
    padding-bottom: 15px;
}

footer {
    padding: 32px;

    color: #f5f5f5;
    background-color: #2d2d30;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;

    text-decoration: none;
}
