.navbar {
    opacity: 0.9;
    background-color: #ffffff;

    letter-spacing: 4px;
    font-size: 11px !important;
}

.navbar, .navbar li a {
    color: #636363 !important;
}

.navbar-nav li a.active {
    color: #000000 !important;
    background-color: #eeeeee;
}

.navbar-nav li a:hover {
    color: #000000 !important;
}

.navbar-nav li a.active:hover {
    background-color: #eeeeee;
}

header {
    margin-top: 5%;
}

header img {
    display: block;
    margin: 0 auto;
}

.aside {
    padding-top: 10px;

    margin-top: 40px;
    margin-bottom: 10px;

    border: 1px solid #eeeeee;
    background-color: #f9f9f9;
}

footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}
