.navbar {
    opacity: 0.9;
    background-color: #ffffff;

    letter-spacing: 4px;
    font-size: 11px !important;
}

.navbar, .navbar li a {
    color: #636363 !important;
}

.navbar-nav li a.active {
    color: #000000 !important;
    background-color: #eeeeee;
}

.navbar-nav li a:hover {
    color: #000000 !important;
}

.navbar-nav li a.active:hover {
    background-color: #eeeeee;
}

footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
    margin-top: 35%;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}



.main {
    background-color: white;
}


header {
    margin-top: 5%;
}

header img {
    display: block;
    margin: 0 auto;
}

a:-webkit-any-link {
    text-decoration: none;
    color: black;
}
.wrapper {
    margin: 20px auto;
    border: 0.1em solid #ccc;
    width: 95%;
    height:  85%;
    box-shadow: 0.1em 0.2em 0.8em #ccc;
    display: block;
}

form {
    height: 50%;
}

.buttons {
    margin-top: 20%;
}

.header {
    height: 20%;
    background-color: #d43f3a;
    color: white;
    text-align: center;
}

.header p {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    text-transform: uppercase;
    font-size: 22px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.header span {
    padding: 1.3em;
}

.inactive {
    color: #ccc;
}

.weekdays {
    width: 98%;
}

.dates {
    padding: 0.2em 1em;
}

.line {
    height: 0.1em;
    border: 0.1em solid #eeeeee;
}

.current-date {
    text-transform: uppercase;
    text-align: center;
    padding: 0.2em;
}

.calendar-body {
    width: auto;
    margin: 2%;
}

.calendar-body .row .col-xs-1 p:hover {
    color: #4778a6;
}

.calendar-body .col-xs-1 {
    width: 14%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.weekdays {
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    color: #398439;
}

.dates {
    width: 98%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.exam{
    margin-top: -3px;
    padding-top: 3px;
    background-color: #3f51b5;
    border-radius: 50px;
    box-shadow: 1px 1px 1px black;
}
.exam a {
    color: black;
}
.exam:hover {
    background-color: transparent;
}



.oldConVoto{
    margin-top: -3px;
    padding-top: 3px;
    background-color: seagreen;
    border-radius: 50px;
    box-shadow: 1px 1px 1px black;
}
.oldConVoto a {
    color: black;
}
.oldConVoto:hover {
    background-color: transparent;
}

.pianified{
    margin-top: -3px;
    padding-top: 3px;
    background-color: #ec971f;
    border-radius: 50px;
    box-shadow: 1px 1px 1px black;
}

.pianified a {
    color: black;
}

.pianified:hover {
    background-color: transparent;
}

.reserved {
    margin-top: -3px;
    padding-top: 3px;
    background-color: #d43f3a;
    border-radius: 50px;
    box-shadow: 1px 1px 1px black;
}

.reserved a {
    color: black;
}

.reserved:hover {
    background-color: transparent;
}

.arrow-left {
    float: left;
    margin-top: 1.7em;
}

.arrow-right {
    float: right;

    margin-top: 1.7em;
}


.space {
    height: 50px;
    margin-top: 22%;
}

#titolo-aside {
    text-align: center;
    text-decoration: solid;
    text-transform: uppercase;
}


.div-1 {
    margin-left: 1%;
}

#fEsame {
    width: 30%;
    display: block;
    float: left;
    font-weight: bold;
}
#esame {
    margin-top: 1px;
    width: 70%;
    float: left;
    display: block;
}


#fStatus {
    width: 55%;
    display: block;
    float: left;
    font-weight: bold;
}
#status {
    margin-top: 1px;
    width: 45%;
    display: block;
    float: left;
}


#fOra {
    width: 25%;
    display: block;
    float: left;
    font-weight: bold;
}

#ora {
    margin-top: 1px;
    width: 63%;
    display: block;
    float: left;
}

#fPosti {
    width: 45%;
    display: block;
    float: left;
    font-weight: bold;
}

#posti {
    margin-top: 1px;
    width: 55%;
    display: block;
    float: left;
}
.div-3 {
    margin-left: 1%;
}

.child-1 {
    width: 28%;
    display: block;
    float: left;
    font-weight: bold;
}

.child-2 {
    margin-top: 1px;
    width: 62%;
    display: block;
    float: left;
}


/*SOCIAL*/

.middle-social {
    margin-top: 10%;
    margin-left: auto; !important;
    margin-right: auto !important;
    width: 40%;
}


.list {
    margin-left: 30%;
    width: 60%;
}

ul.social-network {
    list-style: none;
    display: inline;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
    width: 25%;
}

ul.social-network.social-circle {
    width:100%;
}

.social-network a.icoRss:hover {
    background-color: #F56505;
}
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
    background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
    background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoInstagram:hover {
    background-color: #A52A2A;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
}
.social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #0f0f0f;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

div.aside a {
    background-color: #D3D3D3;
}


h4 {
    text-align: center;
}
