.navbar {
    opacity: 0.9;
    background-color: #ffffff;

    letter-spacing: 4px;
    font-size: 11px !important;
}

.navbar, .navbar li a {
    color: #636363 !important;
}

.navbar-nav li a.active {
    color: #000000 !important;
    background-color: #eeeeee;
}

.navbar-nav li a:hover {
    color: #000000 !important;
}

.navbar-nav li a.active:hover {
    background-color: #eeeeee;
}


div#container{
    position: relative;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}

.aside {
    background-color: rgba(255,0,0,0.3);
    border-color: #B22222 !important;
    border-radius: 3%;
    border-style: solid;
    margin-bottom: 1%;
}

.main p {
    text-decoration: solid;
}

.main {
    background-color: white;
}

header {
    margin-top: 5%;
}

header img {
    display: block;
    margin: 0 auto;
}

div.main {
    font-size: 110%;
}


div.datiesame {
    text-align: center; !important;
}

div.datiesame label.explanation {
    margin-right: 3%;
}

footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    text-align: center;
    padding: 2%;
}

/*    SOCIAL ICONS     */

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoInstagram:hover {
	background-color: #A52A2A;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

div.aside a {
 background-color: #D3D3D3;
}
